body {
    color: orange;
    background-color: lightslategray;
    font-family: Geneva, Verdana, sans-serif;
  }
  
  .Mario {
    width: 100%;
  }

  
  .name {
    font-style: italic;
    text-align: center;
  }

  .overMij {

  }

  .imageScale {
    width: 500px;
    height: 500px;
  }